@page "/Cuentas/Inicio"
<h3 style="text-align: center">Administrar Cuentas</h3>

<div style="text-align: center">
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Cuentas/Monetarias/List">
            <button type="submit" class="btn btn-primary">Cuentas Monetarias</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Cuentas/TarjetasCredito/List">
            <button type="submit" class="btn btn-primary">Tarjetas de Credito</button>
        </NavLink>

    </div>
</div>
