@page "/Reportes/Inicio"
<h3 style="text-align: center">Opciones De Reportes</h3>

<div style="text-align: center">
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Reportes/Objetivos">
            <button type="submit" class="btn btn-primary">Reporte De Objetivos De Gastos</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Reportes/ReportesDeGastosPorCategoria">
            <button type="submit" class="btn btn-primary">Reporte De Gastos Por Categoria</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Reportes/ListadoGastos">
            <button type="submit" class="btn btn-primary">Listado De Gastos</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Reportes/ReportesDeGastosPorTarjeta">
            <button type="submit" class="btn btn-primary">Reporte De Gastos Por Tarjeta</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Reportes/BalanceDeCuentas">
            <button type="submit" class="btn btn-primary">Balance De Cuentas</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Reportes/ReporteDeIngresosYEgresos">
            <button type="submit" class="btn btn-primary">Reporte de Ingresos y Egresos</button>
        </NavLink>
    </div>
</div>