@page "/Transacciones/Inicio"
<h3 style="text-align: center">Administrar Transacciones</h3>
<div style="text-align: center">
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Transacciones/Ingresos/List">
            <button type="button" class="btn btn-primary">Transacciones de ingresos</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/Transacciones/Costos/List">
            <button type="button" class="btn btn-primary">Transacciones de costos</button>
        </NavLink>
    </div>
</div>
