@page "/TiposDeCambio/Inicio"
<h3 style="text-align: center">Administrar Tipos de Cambio</h3>
<div style="text-align: center">
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/TiposDeCambio/Crear">
            <button type="submit" class="btn btn-primary">Crear Tipo De Cambio</button>
        </NavLink>
    </div>
    <div style="display: inline-block; margin: 10px; padding: 20px;">
        <NavLink class="nav-link" href="/TiposDeCambio/Listar">
            <button type="submit" class="btn btn-primary">Listar Tipos De Cambio</button>
        </NavLink>
    </div>
</div>